.Order{
    margin-top: 30px;
    margin-bottom: 30px;
}

.product_details {
    margin-bottom: 30px;
}

.shippingDetails{
    margin-bottom: 25px; 
}
.form_items{
    margin-bottom: 15px;
}

.checkOutSection{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.totalAmount{
    font-size: 1.2em;
    margin-right: 25px;
}
.orderButton{
    width:150px;
    height:50px;
    background-color: #fb641b;
    color:white;
    font-size: 1.1em;
    font-weight: 500;
}